section{
    background-color: rgb(25, 0, 255);
    color: rgb(255, 0, 0);
}

img{
    width: 6cm;
    height: 4cm;
    margin: 50px;
    padding: 60px;
}

.ball{
    background-color: aqua;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

#bouncing{
    position: absolute;
}


body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}